<form class="form-horizontal">

<fieldset>


<!-- Form Name -->
<legend>Edit Profile</legend>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">User ID</label>  
  
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="user id" class="form-control input-md">
    
  
</div>

</div>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">Name</label>  
  
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="your name" class="form-control input-md" required="">
    
  
</div>
</div>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">Password</label>  
  
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="enter your password" class="form-control input-md">
    
  
</div>

</div>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">Confirm Password</label>  
  
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="confirm password" class="form-control input-md">
    
  
</div>

</div>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">Email</label>  
  
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="your email address" class="form-control input-md">
    
  
</div>

</div>


<!-- Text input-->
<div class="form-group">
  
<label class="col-md-4 control-label" for="textinput">Zip code</label>  
 
<div class="col-md-4">
  
<input id="textinput" name="textinput" type="text" placeholder="your zip code" class="form-control input-md">
    
  
</div>

</div>

<label class="col-md-4 control-label" for="btnsave">Save Changes</label>
  
<div class="col-md-8">
    
<button id="btnsave" name="btnsave" class="btn btn-success">Yes</button>
    
<button id="btncancel" name="btncancel" class="btn btn-danger">No</button>
  
</div>

</div>


</fieldset>

</form>
