<div>
    <div ng-show= "forgot" class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p>You can reset your password here.</p>
                    <div class="panel-body">

                        <form id="register-form" role="form" autocomplete="off" class="form" method="post" ng-submit="forgotPassword()">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="email address" ng-model="user.email" ng-required="true" class="form-control"  type="email">
                                    <input type="text" name="username" ng-minlength="3" ng-maxlength="15" ng-required="true" ng-model="user.username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    <input type="date" name="dob" id="dob" ng-model="user.dob"  ng-required="true" tabindex="1" class="form-control" placeholder="Date of Birth" value="">
                                </div>

                            </div>
                            <div class="form-group">
                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var validate = function() {
        if (document.getElementById('password').value ==
            document.getElementById('confirm-password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Passord should be same as above';
        }
    }
</script>
<div ng-show = "update" class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <form id="update-pass"role="form" autocomplete="off" class="form" method="post" ng-submit="updatePassword()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input type="text" name="username" ng-minlength="3" ng-maxlength="15" ng-required="true" ng-model="user.username" id="loginusername" tabindex="1" class="form-control" placeholder="Username" value="" readonly>
                            <input type="password" name="password" ng-model="user.password"  ng-required="true" id="password" tabindex="2" class="form-control" placeholder="New Password"  onkeyup="validate()">
                            <input type="password" name="confirm-password"  ng-required="true" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password"  onkeyup="validate()">
                            <span id='message'></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Update Password" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>